
<div class="container">
 <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>
  <h2>Confirm Transaction</h2>
  <p>Stock Symbol: <%= @stock['symbol'] %></p>
  <p>Price: <%= @price %></p>
  <p>Quantity: <%= quantity %></p>
  <p>Total Amount: <%= @total_amount %></p>

  <%= form_tag(sell_path(@stock.symbol), method: :post) do %>
    <%= hidden_field_tag :quantity, quantity %>
    <%= submit_tag "Confirm Transaction", class: "btn btn-success" %>
  <% end %>
  <%= link_to "Cancel", home_path %>
</div>
