<div class="d-flexalign-items-center vh-100 pt-5">
<div class="container col-4 border border-primary rounded p-4">
  <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:success].present? %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>
  <h2 class="text-center mt-4">Confirm Transaction</h2>
  <p> <strong> Stock Symbol:</strong> <%= @stock['symbol'] %></p>
  <p><strong>Price: </strong><%= @price %></p>
  <p><strong>Quantity:</strong> <%= quantity %></p>
  <p><strong>Total Amount:</strong> <%= @total_amount %></p>

  <%= form_tag(sell_path(@stock.symbol), method: :post) do %>
    <%= hidden_field_tag :quantity, quantity %>
    <div class="d-flex justify-content-between">
      <%= submit_tag "Confirm Transaction", class: "btn btn-success" %>
      <%= link_to "Cancel", home_path, class: "btn btn-danger ml-2" %>
    </div>
  <% end %>
  </div>
</div>
