<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StockPulse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Market", market_path, class: "nav-link active" %>
        </li>
        <% if user_signed_in? %>
          <% if current_user.trader? %>
            <li class="nav-item">
              <%= link_to "Portfolio", portfolio_path, class: "nav-link active" %>
            </li>
            <li class="nav-item ">
              <%= link_to "Transaction History", history_path, class: "nav-link active" %>
            </li>
          <% end %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Dashboard", dashboard_path, class: "nav-link active" %>
            </li>
            <li class="nav-item ">
              <%= link_to "Transactions", history_path, class: "nav-link active" %>
            </li>
          <% end %>
        </ul>
        <% end %>
        <div class="d-flex align-items-center">
          <% if user_signed_in?  %>
            <% if current_user.trader? && current_user.is_approved? %>
            <p class="nav-item m-2 text-center strong"> <strong>Balance: <%= current_user.balance %> </strong></p>
            <% end %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger m-2"  %>
          <% else %>
            <div class="login-register-buttons">
              <%= link_to "Login",  new_user_session_path, class: "btn btn-primary m-2" %> 
              <%= link_to "Register",  new_user_registration_path, class: "btn btn-primary m-2" %>  
            </div>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</nav>
